target/
/*/.settings/
/*/.classpath
/*/.project
/*/.settings
/*/*.classpath
/*/*.project
/*/target/
/*/disconf
/log/
.springBeans
.idea/
/*/*.iml
/*/.apt_generated
/*/.factorypath

/*/*/.settings
/*/*/*.classpath
/*/*/*.project
/*/*/target/
/*/*/disconf
/log/
.springBeans
.idea/
/*/*/*.iml
/*/*/*.log
/*/*/.apt_generated
/*/*/.factorypath